<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12">

			<p>School of Electrical and Computer Engineering, University of Seoul<br/>
		  	(02504) Room 512, Information & Technology Building<br/>
			<a href="https://maps.google.com/?q=163+Seoulsiripdae-ro,+Dongdaemun-gu,+Seoul+02504,+South+Korea" target="_blank">
			163 Seoulsiripdae-ro, Dongdaemun-gu Seoul 02504, South Korea</a><br/>
		  	Email: famous@uos.ac.kr<br/></p>
		  <p>&copy 2025 University of Seoul Trustworthy Networked System Laboratory.</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
